@tailwind base;
@font-face {
  font-family: 'KodeMono';
  src: url('../fonts/KodeMono-VariableFont_wght.ttf') format('truetype');
}
@tailwind components;
@tailwind utilities;

:root {
--bg-slate-50: rgb(248 250 252);
--bg-slate-700: rgb(30 41 59);
--bg-slate-950: rgb(2 6 23);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  color: var(--bg-slate-50);
  background: var(--bg-slate-950);
  font-family:'KodeMono';
}
